@charset "utf-8";

/* Infomind Default CSS : Last Update : 2016-07-14 */


/*font*/

html {
    font-size: 12px;
}

body {
    font-family: "Malgun Gothic", 맑은고딕, sans-serif;
    color: #333;
    background: #fafafa;
    letter-spacing: -1px;
}


/*button*/

.btn-area {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-bottom: 10px;
}


/*button Size*/

.btn.btnF {
    width: 100%;
    padding: 14px 40px;
    font-size: 16px;
}


/*button Color*/

.btn.main {
    background-color: #d6df27;
    color: #3f3f3f;
}

.btn.sub {
    background-color: #3f3f3f;
}


/*input*/

fieldset {
    padding: 0 14px;
}

input {
    background: #fff;
    border: 1px solid #eaeaea;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

article#login h1 {
    font-size: 16px;
    width: 100%;
    height: 180px;
    text-align: center;
    padding-top: 138px;
    margin: 70px 0 30px;
    background: url('../images/iconLogin.png') no-repeat center top / auto 120px;
}


/*header*/

header#header {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    text-align: center;
}

header#header h1 {
    font-size: 20px;
    line-height: 60px;
    color: #3f3f3f;
}

header#header li.back a {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 20px;
    padding: 10px;
}


/*nav*/

nav#menu {
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: #fff;
}

nav#menu li {
    display: block;
    float: left;
    width: calc(100% / 3);
    height: 64px;
    text-align: center;
    border-top: 1px solid #eaeaea;
}

nav#menu li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #434343;
    padding-top: 44px;
}

nav#menu li a.menu01 {
    background: url('../images/menu01.png') no-repeat center bottom / 60px auto;
}

nav#menu li a.menu02 {
    background: url('../images/menu02.png') no-repeat center bottom / 60px auto;
}

nav#menu li a.menu03 {
    background: url('../images/menu03.png') no-repeat center bottom / 60px auto;
}

nav#menu li.active {
    background: #3f3f3f;
}

nav#menu li.active a {
    color: #fff;
    font-weight: 600;
    background-position: center top;
}


/*content*/

article#content {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 60px 0 64px;
    padding-bottom: 20px;
}

article#content h3 {
    padding: 10px 0;
    display: inline-block;
    margin: 10px auto;
    font-size: 16px;
    border-bottom: 2px solid #d6df27;
}

article#content .chart {
    display: inline-block;
    width: 245px;
    height: 245px;
    margin-top: 14px;
}

article#content .chart.chart10 {
    background: url('../images/chart10.png') no-repeat center bottom / 100%;
}

article#content .chart.chart20 {
    background: url('../images/chart20.png') no-repeat center bottom / 100%;
}

article#content .chart.chart30 {
    background: url('../images/chart30.png') no-repeat center bottom / 100%;
}

article#content .chart.chart40 {
    background: url('../images/chart40.png') no-repeat center bottom / 100%;
}

article#content .chart.chart50 {
    background: url('../images/chart50.png') no-repeat center bottom / 100%;
}

article#content .chart.chart60 {
    background: url('../images/chart60.png') no-repeat center bottom / 100%;
}

article#content .chart.chart70 {
    background: url('../images/chart70.png') no-repeat center bottom / 100%;
}

article#content .chart.chart80 {
    background: url('../images/chart80.png') no-repeat center bottom / 100%;
}

article#content .chart.chart90 {
    background: url('../images/chart90.png') no-repeat center bottom / 100%;
}

article#content .chart.chart100 {
    background: url('../images/chart100.png') no-repeat center bottom / 100%;
}

article#content .chart h5 {
    font-size: 40px;
    font-weight: 800;
    margin: 72px 0 10px;
}

article#content .chart h5 strong {
    font-size: 60px;
}

article#content .chart p {
    font-size: 24px;
    font-weight: 600;
}

article#content .chart-info {
    display: block;
    padding: 14px 0;
}

article#content .chart-info p {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background: #d6df27;
    font-size: 14px;
}

article#content .chart-info strong {
    font-weight: 600;
}

article#content .info-table {
    padding: 0 10px;
}

article#content .info-table table {
    width: 100%;
    border-spacing: 3px;
    border-collapse: separate;
}

article#content .info-table thead th {
    background: #3f3f3f;
    color: #fff;
    padding: 6px 0;
    margin-right: 2px;
}

article#content .info-table tbody th, article#content .info-table tfoot th {
    background: #6c6c6c;
    width: 36%;
    color: #fff;
}

article#content .info-table td {
    background: #fff;
    padding: 6px 0;
}

article#content .info-table tfoot td {
    background: #e8e8e8;
}

article#content .list>ul>li {
    position: relative;
    background: #fff;
    border: 1px solid #eaeaea;
    margin: 10px 13px;
    padding: 16px;
    text-align: left;
    color: #6c6c6c;
}

article#content .list h5 {
    font-size: 15px;
    padding-bottom: 10px;
    color: #3f3f3f;
}

article#content .list p {
    border-left: 2px solid #d6df27;
    padding-left: 6px;
}

article#content .list strong {
    font-weight: 600;
}

article#content .list li ul {
    position: absolute;
    right: 16px;
    top: 16px;
}

article#content .list li ul li {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

article#content .list li ul strong {
    display: block;
    font-size: 16px;
    padding-top: 8px;
}

article#content .list li ul li.red strong {
    color: #fa461c;
}

article#content .list li ul li.green strong {
    color: #0f915b;
}

article#content .list li ul li.blue strong {
    color: #1e70bd;
}

article#content .list li.control {
    vertical-align: top;
}

article#content .list li.control button {
    display: block;
    width: 80px;
    height: 34px;
    border-radius: 17px;
    padding: 4px;
    background: #e8e8e8;
    text-align: right;
}

article#content .list li.control.on button {
    background: #d6df27;
    text-align: left;
}

article#content .list li.control button i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
}

nd: #fff;

}
